.hero-section {
    background-color: #F7F8FC;
    padding: 65px 0px 122px;
}

.hero-section .hero-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-section .contents-box {
    margin-right: 10%;
}

.hero-section .video-popup .popup img {
    width: 100%;
    display: block;
}

.hero-section .contents-box {
    flex-basis: 53%;
}

.hero-section .video-popup {
    flex-basis: 37%;
}

.hero-section .bg-section {
    min-height: 233px;
    width: 100%;
}

.hero-section .describe {
    margin-top: 30px;
    margin-bottom: 40px;
}

.hero-section .popup a {
    position: relative;
    z-index: 1;
}

.hero-section .icon {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 60px;
    min-height: 40px;
    background-color: #030047;
    color: #fff;
}

.hero-section .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-button a.btn {
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1.17px;
    line-height: 17px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    box-shadow: none;
    color: #030047;
    background: transparent;
    border: 2px solid #030047;
    font-weight: 700;
    transition: .3s all ease-in-out;
    outline: 0;

}

span.button-text {
    display: block;
    position: relative;
    border-radius: 0.8px;
    transform: translate(10px, -10px);
    transition: transform 150ms ease-out;
}

span.button-hover {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.05rem;
    background-color: #ffcc3e;
    box-shadow: 0 0 0 1px #ffcc3e;
    transform: translate(5px, -10px);
    transition: transform 150ms ease-out;
    z-index: -1;
    border: 2px solid #030047;
    margin-left: 4px;
}

.main-button a.btn:hover {
    background-color: #ffcc3e;
    transition: .3s all ease-in-out;
}

.main-button a.btn:hover span.button-text {
    transform: translate(0px, -4px);
}

.main-button a.btn:hover span.button-hover {
    transform: translate(-2px, -4px);
    transition: transform 150ms ease-out;
}

.counter-section {
    padding: 110px 0px 110px 0px;
}

.counter-section .counters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 75px 0px 75px 0px;
}

.counter-section .counter-number {
    flex-basis: 30%;
    padding: 20px 0px 20px 0px;

}

.counter-section .counter-number:not(:nth-child(3n+3)) {
    border-right: 2px solid #ccc;
    margin-right: 2.5%;
}

.counter-section .counter-content {
    text-align: center;
    color: #030047;
    max-width: 215px;
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 27px;
}

.counter-section .counter-heading {
    max-width: 592px;
    margin: 0 auto;
    text-align: center
}

.counter-section .counter-button .primary-button {
    text-align: center;
}
.banner-section {
    position: relative;
    z-index: 1;
    padding: 105px 0px 95px 0px;
}

/* .banner-section:before{
background-color:#F7F8FC;
} */
.banner-section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    max-width: 75%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #F7F8FC;
}

.banner-section .banner-heading {
    max-width: 502px;
    width: 100%;
}

.banner-section .banner-content {
    max-width: 590px;
    width: 100%;
    margin: 40px 0px 40px 0px;
}

.banner-section .secondary-button a:hover {
    background-color: #ffcc3e;
    transition: .3s all ease-in-out;
}

.image-section {
    padding: 100px 0px 100px 0px;
}

.image-section .section-image img {
    width: 100%;
    display: block;
    box-shadow: 1px 1px 2px #000;
}

.section-image {
    width: 100%;
    min-height: 270px;
    margin-bottom: 60px;
}

.image-section .tabber-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.image-section .tabber-left {
    flex-basis: 48%;
    margin-right: 2%;
}

.image-section .tabber-right {
    flex-basis: 50%;
}

.image-section .tabber-image img {
    width: 100%;
    display: block;
    box-shadow: 1px 1px 50px rgb(188, 187, 187);
}

.image-section .tabber-contents li {
    color: #000;
    font-size: 28px;
    line-height: 34px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    padding-left: 85px;

}

.image-section .tabber-contents li:hover {
    color: #695ff7;

}

.image-section .tabber-button a {
    text-decoration: none;
    background-color: transparent;
    color: #030047;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    transition: .3s all ease-in-out;
    cursor: pointer;

}

.image-section .tabber-button a:hover {
    color: #ffcc3e;
}

.tabber-button .fa {
    color: #ffcc3e;
    font-size: 20px;
    vertical-align: middle;
    margin-left: 10px;
}

.image-section .content-describe h4 {
    margin: 40px 0px 40px 0px;
}

.image-section .content-describe p {
    padding-bottom: 30px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.image-section .tabber-contents li.active {
    color: #695ff7;
    padding-bottom: 38px;
    margin-bottom: 37px;
}

.image-section .tabber-contents li.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 85px;
    height: 2px;
    background: #ccc;
    width: 80%;
    opacity: .5;
}

.image-section .tabber-contents li.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 15px;
    height: 49px;
    background-color: #695ff7;
}

.tabber-heading {
    margin-left: 85px;
}

.mobile-view {
    display: none;
    color: #695ff7;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.mobile-view .fa-solid{
    font-size: 15px;
    position: absolute;
    top:50%;
    bottom:0;
    left:98%;
    right:0;
    z-index: -1;
    transform: translate(-50% , -50%);
    padding-right: 20px;
}
.counter-two-section .bg-image{
    padding: 100px 0px 100px;
    border-radius: 10px;
    position: relative;
}
.counter-two-section .bg-image:before {
    content: '';
    position: absolute;
    bottom: -80px;
    right: 80px;
    background-image: url(https://4705179.fs1.hubspotusercontent-na1.net/hubfs/4705179/growflow_website_2020/home_page/Happy%20Golden.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 161px;
    min-height: 186px;;
}
.counter-two-section .bg-counter-flex{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 70px 0px 20px 0px;

}
.counter-two-section .left-counter-time{
    flex-basis: 35%;
    margin-right: 8%;

}
.counter-two-section .right-counter-time{
    flex-basis: 18%;
    border-left: 1px solid #ccc;
}
.timer-score h5{
    color: #fff;
    margin: 0px 30px 10px 30px ;
    font-size: 36px;
    line-height: 44px;

}
.timer-score p{
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    color: #fff;
    margin-bottom: 10px;

}
.timer-score{
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-score:not(:nth-child(2n+2)){
    border-bottom: 1px solid #ccc;
}
.bg-counter-button .primary-button{
    margin: 0 auto;
    text-align: center;
}
.bg-counter-button .primary-button a{
    color: #fff;
}
.bg-counter-button .primary-button a:hover{
color: #030047;}


.bg-heading h2{
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    line-height: 44px;
}
.bg-heading .bg-content p{
    text-align: center;
    max-width: 780px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 0px 45px 0px;
    color: #ffffff;
    font-weight: 300;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    line-height: 30px;
}
.left-counter-time h5{
    font-size: 65px;
    color: #ffcc3e;
}
.left-counter-time .timer-content p{
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}













/* ----MEDIA QUERY STARTS---- */
@media (min-width:768px) and (max-width:1024px) {
    .hero-section h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        line-height: 44px;
        color: #030047;
        font-size: 45px;
    }

    .hero-section .hero-section-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero-section .contents-box {
        margin-right: 5%;
    }

    .hero-section .video-popup .popup img {
        width: 100%;
        display: block;
    }

    .hero-section .contents-box {
        flex-basis: 57%;
    }

    .hero-section .video-popup {
        flex-basis: 38%;
    }

    .hero-section .bg-section {
        min-height: 160px;
        width: 100%;
    }

    h2 {
        font-size: 32px;
        color: #695ff7;
        line-height: 54px;
        text-align: center;
    }

     .banner-section h3 {
        color: #000000;
        font-size: 38px;
        line-height: 44px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    p {
        line-height: 25px;
        font-size: 15px;
        color: #030047;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
    }

    .banner-section::before {
        max-width: 85.5%;
    }

    .section-image {
        min-height: 175px;
    }

    .image-section {
        padding: 75px 0px 75px 0px;
    }
    .image-section .tabber-contents li {
        color: #000;
        font-size: 24px;
        line-height: 32px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;
        z-index: 1;
        padding-left: 85px;
    }
    .tabber-heading {
        text-align: center;
        margin-left: 0px;
        }
    .image-section .content-describe h4 {
        margin: 40px 0px 40px 0px;
        font-size: 24px;
        line-height: 32px;

    }
    .image-section .tabber-contents li.active {
        color: #695ff7;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    
    
    
    










}








/* mobile */
@media (max-width:767px) {

    .hero-section .hero-section-content {
        display: block;
        flex-wrap: wrap;
    }

    .hero-section .contents-box {
        margin-right: 0%;
    }

    .hero-section .video-popup .popup img {
        width: 100%;
        display: block;

    }

    .hero-section .contents-box {
        flex-basis: 100%;
    }

    .hero-section .video-popup {
        flex-basis: 100%;
    }

    .hero-section h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        line-height: 44px;
        color: #030047;
        font-size: 45px;
    }

    h2 {
        font-size: 32px;
        color: #695ff7;
        line-height: 54px;
        text-align: center;
    }

    p {
        line-height: 25px;
        font-size: 15px;
        color: #030047;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
    }

    .hero-section .contents-box {
        padding-bottom: 40px;
    }

    .hero-section .pop-img {
        max-width: 351px;
        margin: 0 auto;
    }

    .hero-section .describe {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main-button a.btn {
        padding: 16px 50px 16px 50px;
    }

    .banner-section h3 {
        color: #000000;
        font-size: 38px;
        line-height: 44px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .banner-section::before {
        max-width: 100%;
    }

    .banner-section .banner-heading {
        max-width: 502px;
        width: 100%;
    }

    .banner-section .banner-content {
        max-width: 590px;
        width: 100%;
        margin: 40px 0px 40px 0px;
    }

    .section-image {
        min-height: 115px;
    }

    .image-section {
        padding: 50px 0px 50px 0px;

    }

    .image-section .tabber-left {

        flex-basis: 100%;
        margin-right: 0%;
        margin-bottom: 50px;
    }

    .image-section .tabber-right {
        flex-basis: 100%;

    }

    .mobile-view {
        display: block;
        border: 2px solid #695ff7;
        padding: 5px 10px 5px 30px;
        margin-bottom: 0px;
        text-align: center;
        width: 100%;

    }
    ul.tabber-contents.tabs {
        display: none;
        border: 2px solid #695ff7;
        border-top: none;
    }
    .mobile-view h6 {
        margin-bottom: 0;
        font-size: 15px;
        border: none;
        line-height: 32px;
        color: #695ff7;

    }
    .image-section .tabber-contents li {
        color: #000;
        font-size: 15px;
        line-height: 32px;
        cursor: pointer;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        padding-left: 0px;
    
    }
    .image-section .tabber-contents li.active {
        color: #695ff7;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    .image-section .tabber-contents li.active:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 85px;
        height: 2px;
        background:none;
        width: 80%;
        opacity: .5;
    }
    
    .image-section .tabber-contents li.active:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 15px;
        height: 49px;
        background:none;
    }
    .tabber-heading {
        text-align: center;
        margin-left: 0px;

    }
    .banner-section {
        position: relative;
        z-index: 1;
        padding: 50px 0px 50px 0px;
    }
    .tabber-section .tabs{
        text-align: center;
    }
    .tabber-left{
        position: relative;
    }
    .mobile-view{
        position: relative;
        z-index: 1;
    }
    .tabs{
        position: absolute;
        z-index: 1;
        width:100%;
        background-color: #fff;
    }
    .counter-two-section .left-counter-time{
        flex-basis: 100%;
        margin-right: 0%;
    
    }
    .counter-two-section .right-counter-time{
        flex-basis: 100%;
        border-left:none;
        margin-top: 50px;
    }
    .left-counter-time h5{
        font-size: 50px;
        color: #ffcc3e;
        text-align: center;
    }
    .timer-score:not(:nth-child(2n+2)){
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    .bg-heading h2{
        color: #ffffff;
        text-align: center;
        font-size: 35px;
        line-height: 44px;
    }
    
    

    
    

}













/* ----------------------------------------------------------------------- */

@media (max-width:480px) {
    .hero-section .hero-section-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .hero-section .contents-box {
        margin-right: 0%;
    }

    .hero-section .video-popup .popup img {
        width: 100%;
        display: block;
    }

    .hero-section .contents-box {
        flex-basis: 100%;
    }

    .hero-section .video-popup {
        flex-basis: 100%;
    }

    .hero-section h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        line-height: 42px;
        color: #030047;
        font-size: 28px;

    }

    .hero-section .contents-box {
        padding-bottom: 40px;
    }

    .main-button a.btn {
        padding: 16px 50px 16px 50px;
    }

    .counter-section .counters {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        padding: 30px 0px 30px 0px;
    }

    .counter-section .counter-number {
        flex-basis: 100%;
        padding: 20px 0px 20px 0px;

    }

    .counter-section .counter-number:not(:nth-child(3n+3)) {
        border-bottom: 2px solid #ccc;
        margin-right: 2.5%;
        border-right: none;

    }

    .counter-section {
        padding: 80px 0px 80px 0px;
    }

    h2 {
        font-size: 24px;
        color: #695ff7;
        line-height: 30px;
        text-align: center;
    }

    .banner-section h3 {
        color: #000000;
        font-size: 30px;
        line-height: 42px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    h5 {
        color: #000;
        font-size: 22px;
        line-height: 30px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

    .banner-section::before {
        max-width: 100%;
    }

    .banner-section .banner-heading {
        max-width: 100%;
        width: 100%;
    }

    .banner-section .banner-content {
        max-width: 100%;
        width: 100%;
        margin: 40px 0px 40px 0px;
    }

    .section-image {
        min-height: 73px;
    }
    .tabber-heading {
        text-align: center;
        margin-left: 0px;

    }

}
